body {
    margin: 0px;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: black;
    color: white;
}

header {
    background-color: #FFFFFF;
    margin-top: auto;
    text-align: center;
    font-size: 16px;
    position: fixed;
    color: #878787;
    width: 100%;
    top: -10px;
    z-index: 100;
    padding: 20px;
    /*places text in front of other elements so it can click*/
    display: inline-block;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #878787;
    text-decoration: none;
}


/*Dropdown button*/

footer {
    background-color: #FFFFFF;
    text-align: right;
    bottom: 0px;
    position: fixed;
    margin-bottom: auto;
    font-size: 10px;
    color: #878787;
    width: 100%;
}

.container {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.home-bg {
    opacity: 00;
    filter: alpha(opacity=80);
    /* for ie8 or earlier*/
    padding-top: 50px;
    padding-bottom: 10px;
    position: fixed;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    display: inline-block;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    position: relative;
    color: #878787;
    z-index: 100;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    background: #FFFFFF;
    padding: 0px 5px 0px 1px;
    text-decoration: none;
    color: #878787;
}

ul li a:hover {
    background: #FFFFFF;
    color: black;
}

li:hover ul {
    display: block;
    position: absolute;
}

li:hover a {
    background: #FFFFFF;
}

li:hover li a:hover {
    background: #FFFFFF;
}

#drop-nav li ul li {
    border-top: 0px;
}

.cover {
    opacity: 0.80;
    filter: alpha(opacity=80);
    /* for ie8 or earlier*/
    padding-top: 50px;
    padding-bottom: 10px;
}


/*.cover{color:#ace63c;}
.cover:hover{filter: url(#blur-NA);}

input.burger-checkbox,
label.burger {
    display: none;
}*/

h1 {
    text-align: center;
}

.placeCol1 {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.image-container {
    display: inline-block;
    
}

img {
    max-width: 100%;
}

@media screen and (max-width: 400px) {
    nav.top-nav {
        text-align: center;
    }
    /*label.burger {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 0px;
        margin: 40px;
        margin-right: 30px;
        cursor: pointer;
    }
    
    label.burger:before {
        content: '\2630';
    }
    
    input.burger-checkbox:checked ~ nav.top-nav {
        display: block;
        width: 100%;
        background-color: white;
        font-size: 13px;
    */
}

/* for map interaction*/
.NA {
    opacity: 0.01;
    filter: alpha(opacity=1);
    /* for IE8 or earlier^ */
}

.NA:hover {
    filter: url(#pictureFilter);
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* for IE8 or earlier^ */
    fill: #306BFF;
}

.SA {
    opacity: 0.01;
    filter: alpha(opacity=1);
    /* for IE8 or earlier^ */
}

.SA:hover {
    filter: url(#pictureFilter);
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* for IE8 or earlier^ */
    fill: #5239E8;
}

.EU {
    opacity: 0.01;
    filter: alpha(opacity=1);
    /* for IE8 or earlier^ */
}

.EU:hover {
    filter: url(#pictureFilter);
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* for IE8 or earlier^ */
    fill: #F82BBC;
}

.ASIA {
    opacity: 0.01;
    filter: alpha(opacity=1);
    /* for IE8 or earlier^ */
}

.ASIA:hover {
    filter: url(#pictureFilter);
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* for IE8 or earlier^ */
    fill: #FF165B;
}

.AUS {
    opacity: 0.01;
    filter: alpha(opacity=1);
    /* for IE8 or earlier^ */
}

.AUS:hover {
    filter: url(#pictureFilter);
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* for IE8 or earlier^ */
    fill: #FF4B42;
}

/* progress bar*/
.meter{
    height:30px;
    position:relative;
    background:#878787;
    
   

}

/*.meter > span {
    display:block;
    height:100%;
    background-color:#306BFF;
   
    position relative;
    overflow:hidden;
    
}*/

/* candy strip*/
.meter>span:after{
    width:44%;
    content:"";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image: linear-gradient(-45deg, #306BFF 25%, transparent 25%, #306BFF 50%, transparent 50%, #306BFF 75%, transparent 75%, transparent);
    z-index:1;
   
    animation: move 3s linear infinite;
    overflow:hidden;
    
    background-size: 50px 50px;
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
}




@keyframes move{
    0%{
        background-position:0,0;
    }
    100%{
        background-position: 50px 50px;
    }
}

